*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;  
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content:space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__container img{
  position: absolute;
  bottom: -45%;
}

#navbar__logo{
    background-color: rgb(182, 182, 182);
    background-image: linear-gradient(to top, grey 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 130px;
}

.navbar__link{
    color: #FFDD00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__icon{
    color: #FFDD00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 5px;
    height: 100%;
    margin-left: auto;
}


.navbar__link:hover{
    color: #f0f5ff;
    transition: all 0.3s ease; 
}

.navbar__icon:hover{
    color: #f0f5ff;
    transition: all 0.3s ease; 
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 90vh;
        z-index: -1;
        background: black;
    }    

    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 90vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }


    .navbar__toggle .bar{
        width: 25px;
        height: 5px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
        margin-bottom: -50px;         
    }

    .navbar__link {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;        
    }

    .navbar__icon {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;

    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(80px) rotate(45deg);
        
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(-80px) rotate(-45deg);
        
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 185vh;
  }
    
  .services h1 {
    margin-top: 2rem;
    font-family: "Raleway", sans-serif;
    background-color: #000000;
    background-image: linear-gradient(
      to right, 
      #fffceb 0%
      #fff7c5 0%
      #fff08f 21%
      #ffea60 52%
      #FFDD00 78%
      #ffdd00 100%  
    );
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
  
  .services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB1.webp);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }
  
  .services__card:nth-child(2) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB2.webp);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }
  
  .services__card:nth-child(3) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB3.webp);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }
  
  .services__card:nth-child(4) {
    margin: 1rem;
    height: auto;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB4.webp);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }

  .services__card:nth-child(5) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB5.jpg);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }

  .services__card:nth-child(6) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0,0) 0%,
      rgba(17, 17, 17, 0.6) 100%
      ), 
      url(/images/THUMB6.jpg);
      background-size: cover;
      background-position: 50%;
      position: relative;
      color: #fff;
  }

  .services h2{    
    font-family: "Raleway", sans-serif;
    position:absolute;
    text-align: left;
    font-size: 18px;
    top: 455px;
    left: 10px;
    color: #FFDD00;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) {
    .services{
      height: 1900px;
    }
  
    .services h1{
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
  
  @media screen and (max-width: 480px){
    .services{
      height: 1900px;
    }
  
    .services h1{
      font-size: 1.2rem;
    }
  
    .services__card{
      width:300px;
    }
  
    .services__card:nth-child(2){
      width:300px;
    }
  
    .services__card:nth-child(3){
      width:300px;
    }

    .services__card:nth-child(4){
        width:300px;
      }

    .services__card:nth-child(5){
        width:300px;
      }
      
    .services__card:nth-child(6){
        width:300px;
      }  
  }


/* footer */

.footer {
    background: black;
    height: 160px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
  }
  
  #notarodape {
    color: #f0f5ff;
    font-size: 15px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  #logocultura {
    color: #f0f5ff;
    font-size: 15px;
    text-align: center;
    flex: 0;
    margin: 0 10px;
  }
  
  
  @media (max-width: 1200px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 20px;        
        margin-top: 1050px;
    }

    #notarodape, #logocultura {
        margin: 10px 0;
    }
}

@media (max-width: 960px) {
    .footer {
        padding: 15px;
        margin-top: 30px;
    }

    #notarodape {
        font-size: 14px;
    }

    #logocultura {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 10px;
        margin-top: 1050px;
    }

    #notarodape {
        font-size: 13px;
    }

    #logocultura {
        font-size: 13px;
    }
}